/* @title No outline polygon with red fill*/
[polyname = 'Polygon1']{
  fill: #e60b1a;
  fill-opacity: 1;
}

/* @title No outline polygon with red fill*/
[polyname = 'Polygon2']{
  fill: #e60b1a;
  fill-opacity: 1;
}

/* @title No outline polygon with red fill*/
[polyname = 'Polygon3']{
  fill: #e60b1a;
  fill-opacity: 1;
}

/* @title No outline polygon with red fill*/
[polyname = 'Polygon4']{
  fill: #e60b1a;
  fill-opacity: 1;
}