/* @title No outline polygon with blue fill*/
[polyname = 'Polygon1']{
  fill: #033dfc;
  fill-opacity: 1;
}

/* @title No outline polygon with blue fill*/
[polyname = 'Polygon2']{
  fill: #033dfc;
  fill-opacity: 1;
}

/* @title No outline polygon with blue fill*/
[polyname = 'Polygon3']{
  fill: #033dfc;
  fill-opacity: 1;
}

/* @title No outline polygon with blue fill*/
[polyname = 'Polygon4']{
  fill: #033dfc;
  fill-opacity: 1;
}